@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&display=swap');

body{
background:url(sm.jpg)no-repeat center center fixed;
background-size:cover;
margin:0;
padding:0;
font-family:sans-serif;
display:flex;
flex-direction:column;
}

header{

width:100%;

margin:auto;

background-color: solid black;

overflow: hidden;
}

nav{
position:fixed;
  
left:0;
  
top:0;
  
width:100%;
  
margin:0;
  
overflow: hidden;
  
font-family: 'Bree Serif', serif;
   
background-color:  solid black;
height:100px;
padding: 10px 100px;
box-sizing:border-box;
transition: .5s;}

nav.black{
background: rgba(0,0,0,.8);
height:80px;
padding:10px 50px;
}

nav .logo
{
margin:0;
padding:0;
float:left;
}

nav .logo img{
height:90px;
transition: .5s;
}




.active{background: #B22222 ;}

#section1
{
width:100%;
height:200px;
}
.container{
	background:#000;
width:50%;
padding-left:20px;
margin-left:65px;
margin-right:60px;
padding:75px;
top:700%;
left:100%;
	
}
h1{
color:#fff;
font-family: cursive;
text-align: center;
background:#000;


}

#menu{
width:50%;
padding:4px;
border-radius:5px;
border:1px solid white;
outline:0;
font-family:serif;
font-size:19px;
background-color:green;

display: block;
margin: 40px auto;
}

#footer{
 background-color:black;
 flex: 0 0 45px;
 margin-top:auto;
 }
 
a{
text-decoration:none;
outline:none;
}
.footer-main-div{
width:100%;
height:auto;
margin:auto;
background: rgba(6, 0, 0, 0.60);
padding:20px 0px;
color:white;
bottom:0;
left:0;
position:fixed;
}


.footer-bottom {
width:100%;
height:auto;
margin:auto;
margin-bottom:0;
background: #92a8d1;
padding:1px;
margin-top:5px;
position:fixed;
}
.footer-bottom p{
font-family:arial;
font-size:14px;
text-align:center;
color:#fff;
font-weight:600;
letter-spacing:0.5px;
}

.footer-bottom p a{
color:#fff;
}


.footer-social-icons{
width:100%;
height:auto;
margin:auto;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}


